<h1>Users#index</h1>

<ul>
<% @users.each do |u| %>
	<li>
    <%= u.name  %> - <%= u.email %>
		<%= link_to "Edit User", edit_user_path(u.id) %>
		<%= button_to "X", user_path(u.id), method: :delete %>
	</li>
<% end %>
</ul>
